<h1>Twitter Sentiment Analysis</h1>

***

<h2>Natural Language Processing (NLP)</h2>

## LIBS

In [4]:
import pandas as pd
import numpy as np

#visualization
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
# target columns
df_columns = ["sentiment", "ids", "date", "flag", "user", "text"]
df_raw = pd.read_csv('data/twitter-data.csv',
                    encoding = 'latin-1',
                    names = df_columns)

df_raw.head()

,sentiment,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

## Dataset analysis

In [9]:
df1 = df_raw.copy()

In [10]:
df1.describe()

          sentiment           ids
count  1.600000e+06  1.600000e+06
mean   2.000000e+00  1.998818e+09
std    2.000001e+00  1.935761e+08
min    0.000000e+00  1.467810e+09
25%    0.000000e+00  1.956916e+09
50%    2.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09

In [12]:
df1.isnull().sum()

sentiment    0
ids          0
date         0
flag         0
user         0
text         0
dtype: int64

In [13]:
#target variable
df1['sentiment'].value_counts()

0    800000
4    800000
Name: sentiment, dtype: int64

In [14]:
df1['sentiment'] = df1['sentiment'].replace(4, 1)
#target variable
df1['sentiment'].value_counts()

0    800000
1    800000
Name: sentiment, dtype: int64

In [17]:
(df1[df1['sentiment'] == 1].sample(3))

,sentiment,ids,date,flag,user,text
1333212,1,2016382939,Wed Jun 03 06:40:52 PDT 2009,NO_QUERY,BrittanyMinggia,@AnthonyBucca shakes in his sleep... Pretty fr...
1030939,1,1932994385,Tue May 26 22:43:23 PDT 2009,NO_QUERY,den1110,Hope that Jillian will slay those dragons... ...
1027079,1,1932395233,Tue May 26 21:22:54 PDT 2009,NO_QUERY,Ivymere,@simplykatie Thank you! I shall go search! I ...

In [18]:
(df1[df1['sentiment'] == 0].sample(3))

,sentiment,ids,date,flag,user,text
2799,0,1468453632,Tue Apr 07 01:45:55 PDT 2009,NO_QUERY,sianytee,madre is grinding on me this is gonna be a lon...
34469,0,1564827827,Mon Apr 20 05:03:45 PDT 2009,NO_QUERY,OneAndOnlyLia,In music really bored because we have to do co...
348597,0,2016816736,Wed Jun 03 07:24:29 PDT 2009,NO_QUERY,trinderella,@dalionqn @mirz112 what ever happened to the c...

In [19]:
# target columns
df1 = df1[['sentiment','text']]